.AddProductIcon {
	width: 179px;
	padding: 0 1rem;
	margin: 0.5em 1em 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	border: #ccc 0.5px solid;
	border-radius: 10px;
	background: #f6f6f6;
	transition: background .3s ease;
}

.AddProductIcon:hover {
	background: #ccc;
}

.AddProductIcon p {
	display: flex;
	flex-direction: column;

	text-align: center;
	margin-left: 0.5rem;
}

@media (min-width: 900px) {
	.AddProductIcon {
		width: 219px;
	}
}
