/*Layout--------------*/

.footer {
	background: #272822;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-text {
	padding-top: 2em;
	padding-bottom: 2em;
	color: rgba(250, 250, 250, 0.7);
	text-align: center;
}
