.Avatar {

	width: 100%;
	margin: 0;
}

.AvatarNav{
	grid-column: 6 / span 2;
	grid-row: 1;

	justify-self:center;
	align-self: center;
}

.AvatarSmall {
	width: 25px;
	border-radius: 5px;
}
